@font-face {
    font-family: 'MyCustomFont';
    src: url('../../fonts/Gotham/Gotham-Black.otf') format('otf');
    // font-weight: normal;
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'MyCustomFont', sans-serif;
}